.alt_lnal {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  background-color: #000000;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 8px 10px;
  margin-bottom: 5px;
}
.alt_lnal.md {
  height: 40px;
}
.alt_lnal.sm {
  height: 30px;
  color: #ffea00;
}
.alt_lnal.xs {
  height: 25px;
  color: #ffea00;
}
.alt_lnal.lg {
  height: 50px;
  color: #ffea00;
}

.ctn {
  width: 1200px;
  color: #fff;
}

.iwrap {
  width: 17px;
  height: 15px;
  background: url("../../img/attn.png") no-repeat center;
}

.close {
  background: url("../../img/close.png") no-repeat center;
  width: 15px;
  height: 15px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
