.alt_lnal-md, .alt_lnal-lg, .alt_lnal-xs, .alt_lnal-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  height: 40px;
  background-color: #000000;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 8px 10px;
}

.ctn-md, .ctn-lg, .ctn-xs, .ctn-sm {
  width: 1200px;
  color: #fff;
  float: left;
}

.ctn-lg, .ctn-xs {
  color: #ffea00;
}

.alt_lnal-lg {
  height: 50px;
}

.ctn-sm {
  color: #ffea00;
}

.alt_lnal-xs {
  padding: 0px 8px 0px;
  height: 25px;
}

.alt_lnal-sm {
  height: 30px;
}

.iwrap, .ic-lnpx {
  width: 17px;
  height: 15px;
  background: url("../../img/attn.png") no-repeat center;
}

.close {
  background: url("../../img/close.png") no-repeat center;
  width: 15px;
  height: 15px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
